<header>
    <div class="navbar navbar-dark" style="background-color: purple;">
        <div class="navbar-brand align-item-center d-flex">
            <strong style="font-size: 20px;">College of Engineering</strong>     
        </div>
        <div>
            <div routerLink="/home" class="badge bg-dark">Home</div>&nbsp;
            <div routerLink="/students" class="badge bg-dark">Students</div>&nbsp;
            <div routerLink="/teachers" class="badge bg-dark">Teachers</div>&nbsp;
            <div routerLink="/login" class="badge bg-dark">login</div>
        </div>        
    </div>

    <div class="footer fixed-bottom" style="background-color: purple; height: 50px;">     
    </div>
</header>

